@use 'src/styles/vars';

.menu-filter {
  position: fixed;
  padding: 1em;
  left: 0px;
  top: 200px;

  .active {
    color: vars.$secondary-color;
    transform: scale(1.05);
  }

  &-list-item {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: vars.$primary-color-dark;

    &:hover {
      color: vars.$secondary-color;
      transform: scale(1.05);
    }

    &-logo {
      font-size: 1.5em;
      margin-right: 0.3em;
    }
  }
}

@media screen and (max-width: 1074px) {
  .menu-filter {
    display: none;
  }
}
